<template>
  <q-page class="flex flex-center">
    <h2>Trueques</h2>
  </q-page>
</template>

<script>
export default {
  name: 'PageIndex',
  components: {},
  async created() {
    console.log('Looking for DB');
    const db = await this.$orbitdb.open(
      '/orbitdb/zdpuApHvPx3nUxu9bgUXwAmjt4JRbbjy5fwyRXHLaPAgpdwtL/trueques'
    );
    console.log(db);
  },
};
</script>
