<template>
  <div class="user">
    <div class="row">
      <div class="col-xs-8">
        <span class="truncate-chip-labels">
          <BlockchainChip :address="coinbase" />
        </span>
      </div>
    </div>
    <q-btn @click="getEvents">Get Events</q-btn>
    <div v-if="loadedEvents" class="q-pa-md row items-start q-gutter-md">
      <div v-for="(voucher, index) in vouchers" :key="index">
        <VoucherCard v-bind="voucher" />
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex';
import VoucherCard from '../components/VoucherCard.vue';
import BlockchainChip from '../components/BlockchainChip.vue';
import abi from '../contract.json';

export default {
  name: 'MyVouchers',
  components: {
    VoucherCard,
    BlockchainChip,
  },
  props: {},
  abi,
  data() {
    return {
      from_addr: '',
      to_addr: '',
      contract: {},
      name: '',
      description: '',
      profilePicture: '',
      instagram: '',
      events: {},
      contracts: ['0x91Ef9639Bdf0306E19498b64c10b151249b1bD1e'],
      loadedEvents: false,
    };
  },
  computed: {
    ...mapState('web3', ['coinbase']),
    vouchers() {
      let out = [];
      for (const [contract, events] of Object.entries(this.events)) {
        const vouchers = events.map((ev) => ({
          address: contract,
          id: Number(ev.returnValues.id),
          amount: Number(ev.returnValues.value),
        }));
        out = [...out, ...vouchers];
      }
      return out;
    },
  },
  created() {},
  methods: {
    getEvents() {
      this.contracts.forEach((contractAddr) => {
        const contract = new this.$web3.instance.eth.Contract(
          abi,
          contractAddr
        );
        contract
          .getPastEvents('TransferSingle', {
            fromBlock: 0,
            filter: {to: this.coinbase},
          })
          .then((events) => {
            this.$set(this.events, contractAddr, events);
            this.loadedEvents = true;
          });
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.profile-picture {
  max-height: 300px;
  max-width: 300px;
}
</style>
