<template>
  <div class="q-pa-md q-gutter-sm">
    <q-stepper ref="stepper" v-model="step" color="primary" animated>
      <q-step :name="0" title="Instructions" icon="settings" :done="step > 0">
        We will create a new store, please follow the instructions.
      </q-step>

      <q-step
        :name="1"
        title="Account"
        icon="create_new_folder"
        :done="step > 1"
      >
        <div v-if="connected">Perfect you are already logged in</div>
        <Web3Modal v-else></Web3Modal>
      </q-step>

      <q-step :name="2" title="Image" icon="assignment" :done="step > 2">
        Please add your logo
        <IPFSUploader
          ref="uploader"
          style="max-width: 300px"
          url="http://localhost:4444/upload"
          label="Restricted to images 100k"
          accept=".jpg, image/*"
          max-file-size="102400"
          @rejected="onRejected"
        />
      </q-step>

      <q-step :name="3" title="Register" icon="add_comment" :done="step > 3">
        <q-form ref="form" class="q-gutter-md">
          <q-input
            v-model="name"
            label="Name"
            lazy-rules
            :rules="[
              (val) => (val && val.length > 0) || 'Please type something',
            ]"
            filled
          />
          <q-input
            v-model="description"
            label="Description"
            lazy-rules
            :rules="[
              (val) => (val && val.length > 0) || 'Please type something',
            ]"
            filled
          />
          <q-input
            v-model="instagram"
            label="Instagram"
            lazy-rules
            :rules="[
              (val) => (val && val.length > 0) || 'Please type something',
            ]"
            filled
          />
        </q-form>
      </q-step>
      <q-step :name="4" title="Deploy" icon="add_comment" :done="step > 4">
        You will be asked
      </q-step>
      <q-step :name="5" title="Done" icon="add_comment" :done="step > 5">
        Your profile was created successfuly.
        <div>{{ tokenId }}</div>
      </q-step>
      <template v-slot:navigation>
        <q-stepper-navigation>
          <q-btn color="primary" :label="buttonLabel" @click="stepForward()" />
          <q-btn
            v-if="step > 0"
            flat
            color="primary"
            label="Back"
            class="q-ml-sm"
            @click="$refs.stepper.previous()"
          />
          <q-inner-loading :showing="loading"> </q-inner-loading>
        </q-stepper-navigation>
      </template>
    </q-stepper>
  </div>
</template>

<script>
import {mapState} from 'vuex';
import Web3Modal from '../components/Web3Modal.vue';
import IPFSUploader from '../components/IpfsUploader.vue';
import Store from '../artifacts/Store.json';

export default {
  name: 'NewContract',
  components: {
    Web3Modal,
    IPFSUploader,
  },
  props: {},
  data() {
    return {
      name: '',
      description: '',
      instagram: '',
      cid: null,
      step: 0,
      imageHash: null,
      loading: false,
      tokenId: null,
    };
  },
  computed: {
    buttonLabel() {
      const labels = [
        'Start',
        'Continue',
        'Upload',
        'Register',
        'Deploy',
        'Go',
      ];
      return labels[this.step];
    },
    ...mapState('web3', ['connected', 'storeAddress', 'coinbase']),
  },
  methods: {
    async register() {
      const data = {
        name: this.name,
        description: this.description,
        image: `ipfs://${this.imageHash}`,
        properties: {
          instagram: this.instagram,
        },
      };

      const buffer = Buffer.from(JSON.stringify(data));

      const results = await this.$ipfs.add(buffer);
      this.cid = results.cid.toString();
      this.$q.notify({
        type: 'positive',
        message: `Succesfully created ${this.name}`,
      });
    },
    async stepForward() {
      if (this.step === 2) {
        this.imageHash = await this.$refs.uploader.upload();
      } else if (this.step === 3) {
        this.$refs.form
          .validate()
          .then(async () => {
            await this.register();
          })
          .catch(() => false);
      } else if (this.step === 4) {
        this.loading = true;
        this.tokenId = await this.construct();
        this.loading = false;
      } else if (this.step === 5) {
        this.$router.push({
          name: 'profile',
          params: {address: this.tokenId},
        });
      }
      this.$refs.stepper.next();
    },
    async construct() {
      const contract = new this.$web3.instance.eth.Contract(
        Store.abi,
        this.storeAddress
      );

      const estimatedGas = await contract.methods
        .newStore(`ipfs://${this.cid}`)
        .estimateGas();

      return new Promise((resolve, reject) => {
        contract.methods
          .newStore(`ipfs://${this.cid}`)
          .send({gas: estimatedGas, from: this.coinbase})
          .then((receipt) => {
            console.log(receipt.events.Transfer.returnValues.tokenId);
            resolve(receipt.events.Transfer.returnValues.tokenId);
          })
          .catch((err) => {
            console.log(err);
            reject('Error');
          });
      });
    },
    onRejected(rejectedEntries) {
      this.$q.notify({
        type: 'negative',
        message: `${rejectedEntries.length} file(s) did not pass validation constraints`,
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
