<template>
  <div class="q-pa-md q-gutter-sm">
    <div class="row">
      <div class="col-xs-4 col-md-3 col-lg-2 q-pa-md">
        <q-img :src="profilePicture" class="profile-image"></q-img>
      </div>
      <div class="col-xs-8">
        <h2>{{ name }}</h2>
        <p>{{ description }}</p>
        <InstagramChip :username="instagram" />
      </div>
    </div>
    <router-view></router-view>
    <q-page-sticky position="bottom-right" :offset="[18, 18]">
      <q-fab
        v-model="fab"
        label="Actions"
        external-label
        vertical-actions-align="right"
        label-position="left"
        color="accent"
        icon="add"
        direction="up"
      >
        <q-fab-action
          external-label
          color="primary"
          to="define"
          icon="create"
          label-position="left"
          label="Define"
        />
        <q-fab-action
          external-label
          color="secondary"
          icon="send"
          label-position="left"
          label="Give"
        />
        <q-fab-action
          external-label
          color="orange"
          icon="airplay"
          label-position="left"
          label="Airplay"
        />
        <q-fab-action
          external-label
          color="accent"
          icon="room"
          label-position="left"
          label="Map"
        />
      </q-fab>
    </q-page-sticky>
  </div>
</template>

<script>
import {mapState} from 'vuex';
import InstagramChip from '../components/InstagramChip.vue';
import Store from '../artifacts/Store.json';

export default {
  name: 'Profile',
  components: {
    InstagramChip,
  },
  props: {},
  data() {
    return {
      from_addr: '',
      to_addr: '',
      contract: {},
      name: '',
      description: '',
      profilePicture: '',
      instagram: '',
      address: '',
      fab: false,
    };
  },
  computed: {
    ...mapState('web3', ['connected', 'storeAddress', 'coinbase']),
  },
  async created() {
    this.storeId = this.$route.params.storeId;
    this.contract = new this.$web3.instance.eth.Contract(
      Store.abi,
      this.storeAddress
    );
    this.contract.methods
      .tokenURI(this.storeId)
      .call()
      .then(async (uri) => {
        const hash = uri.substr(7);
        this.$ipfs.getJson(hash).then(async (response) => {
          this.name = response.name;
          this.description = response.description;
          this.instagram = response.properties.instagram;
          const imageHash = response.image.substr(7);
          this.profilePicture = await this.$ipfs.getImage(imageHash);
        });
      });
  },
  methods: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
