<template>
  <q-avatar>
    <img :src="image" />
  </q-avatar>
</template>

<script>
import makeBlockie from 'ethereum-blockies-base64';

export default {
  name: 'Blockie',
  props: {
    address: {
      type: String,
      default: '',
    },
  },
  data() {
    return {};
  },
  computed: {
    // eslint-disable-next-line func-names, object-shorthand
    image() {
      return makeBlockie(this.address);
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
