<template>
  <div class="q-pa-md q-gutter-sm">
    <q-stepper
      ref="stepper"
      v-model="step"
      color="primary"
      animated
      :contracted="$q.screen.lt.md"
    >
      <q-step :name="0" title="Instructions" icon="settings" :done="step > 0">
        We will create a new voucher type, please follow the instructions.
      </q-step>

      <q-step
        :name="1"
        title="Account"
        icon="create_new_folder"
        :done="step > 1"
      >
        <div v-if="connected">Perfect you are already logged in</div>
        <Web3Modal v-else></Web3Modal>
      </q-step>

      <q-step :name="2" title="Image" icon="assignment" :done="step > 2">
        Please add an image for your voucher
        <IPFSUploader
          ref="uploader"
          style="max-width: 300px"
          url="http://localhost:4444/upload"
          label="Restricted to images 100k"
          accept=".jpg, image/*"
          max-file-size="102400"
          @rejected="onRejected"
        />
      </q-step>

      <q-step :name="3" title="Properties" icon="add_comment" :done="step > 3">
        <q-form ref="form" class="q-gutter-md">
          <q-input
            v-model="voucher.name"
            label="Name"
            lazy-rules
            :rules="[
              (val) => (val && val.length > 0) || 'Please type something',
            ]"
            filled
          />
          <q-input
            v-model="voucher.description"
            label="Description"
            lazy-rules
            :rules="[
              (val) => (val && val.length > 0) || 'Please type something',
            ]"
            filled
          />
          <q-toggle
            v-model="voucher.expires"
            label="Does this voucher expire?"
            left-label
          />
          <q-input
            v-if="voucher.expires"
            v-model="voucher.expirationDate"
            mask="date"
            :rules="['date']"
            label="Expiration date"
            filled
          >
            <template v-slot:append>
              <q-icon name="event" class="cursor-pointer">
                <q-popup-proxy
                  ref="qDateProxy"
                  transition-show="scale"
                  transition-hide="scale"
                >
                  <q-date v-model="voucher.expirationDate">
                    <div class="row items-center justify-end">
                      <q-btn v-close-popup label="Close" color="primary" flat />
                    </div>
                  </q-date>
                </q-popup-proxy>
              </q-icon>
            </template>
          </q-input>
          <div class="q-gutter-sm">
            <q-radio v-model="voucher.isDiscount" val="false" label="Full" />
            <q-radio v-model="voucher.isDiscount" val="true" label="Discount" />
          </div>
          <q-input
            v-if="voucher.isDiscount == 'true'"
            v-model.number="voucher.discountPercentage"
            type="number"
            filled
            label="Discount percentage"
            min="0"
            max="100"
            suffix="%"
          >
          </q-input>
          <q-toggle
            v-model="voucher.worldwide"
            label="Can this voucher be redeemed worldwide?"
            left-label
          />
          <q-input
            v-if="!voucher.worldwide"
            v-model="voucher.locations"
            label="Locations where it can be redeemed"
            lazy-rules
            :rules="[
              (val) => (val && val.length > 0) || 'Please type something',
            ]"
            filled
          />
          <div class="q-gutter-sm">
            <q-radio v-model="voucher.isDigital" val="false" label="Physical" />
            <q-radio v-model="voucher.isDigital" val="true" label="Digital" />
          </div>
          <div v-if="voucher.isDigital == 'false'" class="q-gutter-sm">
            Shipping:
            <q-radio
              v-model="voucher.shipping"
              val="included"
              label="Included"
            />
            <q-radio v-model="voucher.shipping" val="excluded" label="Extra" />
            <q-radio
              v-model="voucher.shipping"
              val="complex"
              label="Varies (include in description)"
            />
          </div>
          <q-toggle
            v-model="voucher.languageFree"
            label="Can this voucher be redeemed in any language?"
            left-label
          />
          <div v-if="!voucher.languageFree">
            Selected languages:
            <ul>
              <li v-for="language in voucher.languages" :key="language">
                {{ language }}
              </li>
            </ul>
            <q-select
              v-model="voucher.languages"
              filled
              multiple
              use-input
              hide-selected
              fill-input
              input-debounce="0"
              :options="languageOptions"
              label="Search languages"
              @filter="filterFn"
            >
              <template v-slot:no-option>
                <q-item>
                  <q-item-section class="text-grey">
                    No results
                  </q-item-section>
                </q-item>
              </template>
            </q-select>
          </div>
        </q-form>
      </q-step>
      <q-step :name="4" title="Deploy" icon="add_comment" :done="step > 4">
        You will be asked
      </q-step>
      <q-step :name="5" title="Done" icon="add_comment" :done="step > 5">
        Your profile was created successfuly.
      </q-step>
      <template v-slot:navigation>
        <q-stepper-navigation>
          <q-btn color="primary" :label="buttonLabel" @click="stepForward()" />
          <q-btn
            v-if="step > 0"
            flat
            color="primary"
            label="Back"
            class="q-ml-sm"
            @click="$refs.stepper.previous()"
          />
          <q-inner-loading :showing="loading"> </q-inner-loading>
        </q-stepper-navigation>
      </template>
    </q-stepper>
  </div>
</template>

<script>
import {mapState} from 'vuex';
import Web3Modal from './Web3Modal.vue';
import IPFSUploader from './IpfsUploader.vue';
import Voucher from '../artifacts/Voucher.json';

const allLanguages = ['English', 'Spanish', 'French', 'German', 'Japaneese'];

export default {
  name: 'NewContract',
  components: {
    Web3Modal,
    IPFSUploader,
  },
  props: {},
  data() {
    return {
      cid: null,
      step: 0,
      loading: false,
      languageOptions: allLanguages,
      voucher: {
        name: '',
        description: '',
        imageHash: null,
        expires: false,
        expirationDate: null,
        isDiscount: 'false',
        discountPercentage: null,
        isDigital: null,
        worldwide: false,
        locations: '',
        shipping: '',
        languageFree: false,
        languages: [],
      },
    };
  },
  computed: {
    buttonLabel() {
      const labels = [
        'Start',
        'Continue',
        'Upload',
        'Register',
        'Deploy',
        'Go',
      ];
      return labels[this.step];
    },
    ...mapState('web3', [
      'connected',
      'storeAddress',
      'voucherAddress',
      'coinbase',
    ]),
  },
  methods: {
    filterFn(val, update) {
      update(() => {
        const needle = val.toLowerCase();
        this.languageOptions = allLanguages.filter(
          (v) => v.toLowerCase().indexOf(needle) > -1
        );
      });
    },
    async register() {
      const data = {
        name: this.name,
        description: this.description,
        image: `ipfs://${this.imageHash}`,
        properties: {
          instagram: this.instagram,
        },
      };

      const buffer = Buffer.from(JSON.stringify(data));

      const results = await this.$ipfs.add(buffer);
      this.cid = results.cid.toString();
      this.$q.notify({
        type: 'positive',
        message: `Succesfully created ${this.name}`,
      });
    },
    async stepForward() {
      if (this.step === 2) {
        this.voucher.imageHash = await this.$refs.uploader.upload();
      } else if (this.step === 3) {
        this.$refs.form
          .validate()
          .then(async () => {
            await this.register();
          })
          .catch(() => false);
      } else if (this.step === 4) {
        this.loading = true;
        this.voucherId = await this.deploy();
        this.loading = false;
      } else if (this.step === 5) {
        this.$router.push({
          name: 'profile',
          params: {address: this.voucherId},
        });
      }
      this.$refs.stepper.next();
    },
    async deploy() {
      const {storeId} = this.$route.params;
      const contract = new this.$web3.instance.eth.Contract(
        Voucher.abi,
        this.voucherAddress
      );
      const estimatedGas = await contract.methods
        .construct(storeId, `ipfs://${this.cid}`)
        .estimateGas();

      return new Promise((resolve, reject) => {
        contract.methods
          .construct(storeId, `ipfs://${this.cid}`)
          .send({gas: estimatedGas, from: this.coinbase})
          .then((receipt) => {
            console.log(receipt.events.URI.returnValues.id);
            resolve(receipt.events.URI.returnValues.id);
          })
          .catch((err) => {
            console.log(err);
            reject('Error');
          });
      });
    },
    onRejected(rejectedEntries) {
      this.$q.notify({
        type: 'negative',
        message: `${rejectedEntries.length} file(s) did not pass validation constraints`,
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
