<template>
  <q-chip
    clickable
    icon="fab fa-instagram"
    color="accent"
    text-color="white"
    @click="onClick"
  >
    {{ username }}</q-chip
  >
</template>

<script>
export default {
  name: 'InstagramChip',
  props: {
    username: {
      type: String,
      required: true,
    },
  },
  data() {
    return {};
  },
  methods: {
    onClick() {
      window.open(`https://instagram.com/${this.username}`, '_blank');
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.voucher-card img {
  max-width: 200px;
  max-height: 200px;
}
</style>
