<template>
  <div>
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs>
        <q-breadcrumbs-el label="Vouchers" to="../" />
      </q-breadcrumbs>
    </div>

    <div class="q-pa-md row items-start q-gutter-md">
      <div v-for="(voucher, index) in vouchers" :key="index">
        <VoucherCard
          :id="voucher"
          :address="voucherAddress"
          @click.native="viewDetail(voucher)"
        />
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex';
import VoucherCard from './VoucherCard.vue';
import Voucher from '../artifacts/Voucher.json';

export default {
  name: 'VoucherList',
  components: {
    VoucherCard,
  },
  props: {},
  data() {
    return {
      from_addr: '',
      to_addr: '',
      contract: {},
      vouchers: [],
      name: '',
      description: '',
      profilePicture: '',
      instagram: '',
      storeId: null,
    };
  },
  computed: {
    ...mapState('web3', ['voucherAddress']),
  },
  created() {
    this.storeId = this.$route.params.storeId;
    this.contract = new this.$web3.instance.eth.Contract(
      Voucher.abi,
      this.voucherAddress
    );
    this.contract.methods
      .storeVoucherCount(this.storeId)
      .call()
      .then((voucherTypeCount) => {
        for (let i = 0; i < voucherTypeCount; i += 1) {
          this.contract.methods
            .storeVouchers(this.storeId, i)
            .call()
            .then((voucherId) => {
              this.vouchers.push(voucherId);
            });
        }
      });
  },
  methods: {
    viewDetail(voucherId) {
      this.$router.push({
        name: 'voucher',
        params: {storeId: this.storeId, voucherId},
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.profile-picture {
  max-height: 300px;
  max-width: 300px;
}
</style>
