<template>
  <div>
    <div class="q-pa-md q-gutter-sm">
      <q-breadcrumbs>
        <q-breadcrumbs-el label="Vouchers" to="../" />
        <q-breadcrumbs-el :label="voucher.name" />
      </q-breadcrumbs>
    </div>

    <div class="q-pa-md row items-start q-gutter-md">
      <q-card class="detailed-voucher-card">
        <q-card-section horizontal>
          <q-card-section class="col-5 flex flex-center">
            <q-img class="rounded-borders" :src="image" />
          </q-card-section>
          <q-card-section class="q-pt-xs">
            <div class="text-h5 q-mt-sm q-mb-xs">{{ voucher.name }}</div>
            <div class="" style="white-space: pre-warp">
              {{ voucher.description }}
            </div>
            <q-item>
              <q-item-section avatar>
                <q-icon name="fa fa-calendar" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Expiration</q-item-label>
                <q-item-label caption>
                  <span v-if="voucher.properties.expires">{{
                    voucher.properties.expirationDate
                  }}</span>
                  <span v-else>Never</span>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section avatar>
                <q-icon name="fa fa-percent" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Discount</q-item-label>
                <q-item-label caption>
                  <span v-if="voucher.properties.isDiscount"
                    >{{ voucher.properties.discountPercentage }}%</span
                  >
                  <span v-else>Full</span>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section avatar>
                <q-icon name="fa fa-archive" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Type</q-item-label>
                <q-item-label caption>
                  <span v-if="voucher.properties.isDigital"> Digital </span>
                  <span v-else>Physical</span>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section avatar>
                <q-icon name="fa fa-globe" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Redemable in</q-item-label>
                <q-item-label caption>
                  <span v-if="!voucher.properties.worldwide">{{
                    voucher.properties.locations
                  }}</span>
                  <span v-else>Worldwide</span>
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item v-if="!voucher.properties.isDigital">
              <q-item-section avatar>
                <q-icon name="fa fa-truck" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Shipping</q-item-label>
                <q-item-label caption>
                  {{ shippingTypes[voucher.properties.shipping] }}
                </q-item-label>
              </q-item-section>
            </q-item>
            <q-item>
              <q-item-section avatar>
                <q-icon name="fa fa-language" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Languages</q-item-label>
                <q-item-label caption>
                  <span v-if="!voucher.properties.languageFree">
                    <ul>
                      <li
                        v-for="language in voucher.properties.languages"
                        :key="language"
                      >
                        {{ language }}
                      </li>
                    </ul></span
                  >
                  <span v-else>Any</span>
                </q-item-label>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card-section>

        <q-separator />

        <q-card-actions>
          <q-item>
            <q-item-section avatar>
              <q-icon color="primary" name="fas fa-certificate" />
            </q-item-section>

            <q-item-section>
              <q-item-label>{{ supply }}</q-item-label>
              <q-item-label caption>Available</q-item-label>
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section avatar>
              <q-icon color="red" name="fas fa-burn" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ burned }}</q-item-label>
              <q-item-label caption>Redeemed</q-item-label>
            </q-item-section>
          </q-item>
        </q-card-actions>
      </q-card>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex';
import Voucher from '../artifacts/Voucher.json';

export default {
  name: 'VoucherDetail',
  components: {},
  props: {},
  data() {
    return {
      contract: {},
      image: '',
      address: '',
      id: null,
      voucher: {properties: {expires: null}},
      minted: 0,
      burned: 0,
      shippingTypes: {
        included: 'Included',
        extra: 'Extra',
        complex: 'See description',
      },
    };
  },
  computed: {
    ...mapState('web3', ['voucherAddress']),
    // eslint-disable-next-line object-shorthand
    supply: function () {
      return this.minted - this.burned;
    },
  },
  created() {
    this.voucherId = this.$route.params.voucherId;
    this.storeId = this.$route.params.storeId;
    this.contract = new this.$web3.instance.eth.Contract(
      Voucher.abi,
      this.voucherAddress
    );
    this.contract.methods
      .voucherStore(this.voucherId)
      .call()
      .then((realStoreId) => {
        if (this.storeId !== realStoreId) {
          this.$router.push('404');
        }
      });
    this.contract.methods
      .uri(this.voucherId)
      .call()
      .then((uri) => {
        /*        this.minted = voucher.minted;
        this.burned = voucher.burned;
        this.supply = voucher.minted - voucher.burned;
*/
        const hash = uri.substr(7);
        this.$ipfs.getJson(hash).then(async (response) => {
          this.voucher = response;
          const imageHash = response.image.substr(7);
          this.image = await this.$ipfs.getImage(imageHash);
        });
      });
    this.contract.methods
      .minted(this.voucherId)
      .call()
      .then((amountMinted) => {
        this.minted = amountMinted;
      });
    this.contract.methods
      .burned(this.voucherId)
      .call()
      .then((amountBurned) => {
        this.burned = amountBurned;
      });
  },

  methods: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
