<template>
  <q-card clickable class="voucher-card">
    <q-card-section>
      <div class="text-h6 q-mb-xs">{{ name }}</div>
      <q-badge v-if="amount > 0" color="accent" floating>
        {{ amount }}
      </q-badge>
    </q-card-section>
    <img :src="image" />
    <q-list>
      <q-item>
        <q-item-section avatar>
          <q-icon color="primary" name="fas fa-certificate" />
        </q-item-section>

        <q-item-section>
          <q-item-label>{{ supply }}</q-item-label>
          <q-item-label caption>Available</q-item-label>
        </q-item-section>
      </q-item>

      <q-item>
        <q-item-section avatar>
          <q-icon color="red" name="fas fa-burn" />
        </q-item-section>
        <q-item-section>
          <q-item-label>{{ burned }}</q-item-label>
          <q-item-label caption>Redeemed</q-item-label>
        </q-item-section>
      </q-item>
    </q-list>
  </q-card>
</template>

<script>
import {mapState} from 'vuex';
import Voucher from '../artifacts/Voucher.json';

export default {
  name: 'VoucherTile',
  props: {
    address: {
      type: String,
      required: true,
    },
    id: {
      type: String,
      required: true,
    },
    amount: {
      type: Number,
      default: 0,
    },
  },
  data() {
    return {
      name: '',
      image: '',
      minted: 0,
      burned: 0,
    };
  },
  computed: {
    // eslint-disable-next-line object-shorthand
    supply: function () {
      return this.minted - this.burned;
    },
    ...mapState('web3', ['voucherAddress']),
  },
  created() {
    this.contract = new this.$web3.instance.eth.Contract(
      Voucher.abi,
      this.voucherAddress
    );
    this.contract.methods
      .uri(this.id)
      .call()
      .then((uri) => {
        const hash = uri.substr(7);
        this.$ipfs.getJson(hash).then(async (response) => {
          this.name = response.name;
          const imageHash = response.image.substr(7);
          this.image = await this.$ipfs.getImage(imageHash);
        });
      });
    this.contract.methods
      .minted(this.id)
      .call()
      .then((amountMinted) => {
        this.minted = amountMinted;
      });
    this.contract.methods
      .burned(this.id)
      .call()
      .then((amountBurned) => {
        this.burned = amountBurned;
      });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.voucher-card img {
  max-width: 200px;
  max-height: 200px;
}
</style>
