<template>
  <q-layout view="hHh lpR fFf" class="bg-grey-1">
    <q-header elevated class="bg-white text-grey-8 q-py-xs" height-hint="58">
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-btn
          v-if="$q.screen.gt.xs"
          to="/"
          flat
          no-caps
          no-wrap
          class="q-ml-xs"
        >
          <q-toolbar-title shrink class="text-weight-bold">
            Trueques
          </q-toolbar-title>
        </q-btn>

        <q-space />

        <div class="YL__toolbar-input-container row no-wrap">
          <q-input
            v-model="search"
            dense
            outlined
            square
            placeholder="Search"
            class="bg-white col"
          />
          <q-btn
            class="YL__toolbar-input-btn"
            color="grey-3"
            text-color="grey-8"
            icon="search"
            unelevated
          />
        </div>

        <q-space />

        <div class="q-gutter-sm row items-center no-wrap">
          <q-btn
            v-if="$q.screen.gt.sm"
            round
            dense
            flat
            color="grey-8"
            icon="video_call"
          >
            <q-tooltip>Create a video or post</q-tooltip>
          </q-btn>
          <q-btn
            v-if="$q.screen.gt.sm"
            round
            dense
            flat
            color="grey-8"
            icon="apps"
          >
            <q-tooltip>Apps</q-tooltip>
          </q-btn>
          <q-btn
            v-if="$q.screen.gt.sm"
            round
            dense
            flat
            color="grey-8"
            icon="message"
          >
            <q-tooltip>Messages</q-tooltip>
          </q-btn>
          <q-btn round dense flat color="grey-8" icon="notifications">
            <q-badge color="red" text-color="white" floating> 2 </q-badge>
            <q-tooltip>Notifications</q-tooltip>
          </q-btn>
          <div class="user">
            <q-btn v-if="connected" round flat>
              <Blockie :address="coinbase"></Blockie>
            </q-btn>
            <Web3Modal v-else></Web3Modal>
          </div>
        </div>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-2"
      :width="240"
    >
      <q-scroll-area class="fit">
        <q-list padding>
          <q-item
            v-for="link in links1"
            :key="link.text"
            v-ripple
            :to="link.to"
            clickable
            exact
          >
            <q-item-section avatar>
              <q-icon color="grey" :name="link.icon" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ link.text }}</q-item-label>
            </q-item-section>
          </q-item>

          <q-separator class="q-my-md" />

          <q-item v-for="link in links2" :key="link.text" v-ripple clickable>
            <q-item-section avatar>
              <q-icon color="grey" :name="link.icon" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ link.text }}</q-item-label>
            </q-item-section>
          </q-item>

          <q-separator class="q-mt-md q-mb-xs" />

          <q-item-label header class="text-weight-bold text-uppercase">
            More from Youtube
          </q-item-label>

          <q-item v-for="link in links3" :key="link.text" v-ripple clickable>
            <q-item-section avatar>
              <q-icon color="grey" :name="link.icon" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ link.text }}</q-item-label>
            </q-item-section>
          </q-item>

          <q-separator class="q-my-md" />

          <q-item v-for="link in links4" :key="link.text" v-ripple clickable>
            <q-item-section avatar>
              <q-icon color="grey" :name="link.icon" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ link.text }}</q-item-label>
            </q-item-section>
          </q-item>

          <q-separator class="q-mt-md q-mb-lg" />

          <div class="q-px-md text-grey-9">
            <div class="row items-center q-gutter-x-sm q-gutter-y-xs">
              <a
                v-for="button in buttons1"
                :key="button.text"
                class="YL__drawer-footer-link"
                href="javascript:void(0)"
              >
                {{ button.text }}
              </a>
            </div>
          </div>
          <div class="q-py-md q-px-md text-grey-9">
            <div class="row items-center q-gutter-x-sm q-gutter-y-xs">
              <a
                v-for="button in buttons2"
                :key="button.text"
                class="YL__drawer-footer-link"
                href="javascript:void(0)"
              >
                {{ button.text }}
              </a>
            </div>
          </div>
        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import {mapState} from 'vuex';
import {fabYoutube} from '@quasar/extras/fontawesome-v5';
import Web3Modal from '../components/Web3Modal.vue';
import Blockie from '../components/Blockie.vue';

export default {
  name: 'MyLayout',
  components: {
    Web3Modal,
    Blockie,
  },
  data() {
    return {
      leftDrawerOpen: false,
      search: '',
      links1: [
        {icon: 'home', text: 'Home', to: '/'},
        {icon: 'list', text: 'List', to: '/list'},
        {
          icon: 'emoji_food_beverage',
          text: 'Finanza-te',
          to: '/profile/0x91Ef9639Bdf0306E19498b64c10b151249b1bD1e/',
        },
        {
          icon: 'fab fa-shirtsinbulk',
          text: 'Bordando Ideas Mty',
          to: '/profile/1/',
        },
        {icon: 'account_balance_wallet', text: 'My Vouchers', to: '/user'},
        {icon: 'add_circle', text: 'New', to: '/new'},
      ],
      links2: [
        {icon: 'folder', text: 'Library'},
        {icon: 'restore', text: 'History'},
        {icon: 'watch_later', text: 'Watch later'},
        {icon: 'thumb_up_alt', text: 'Liked videos'},
      ],
      links3: [
        {icon: fabYoutube, text: 'YouTube Premium'},
        {icon: 'local_movies', text: 'Movies & Shows'},
        {icon: 'videogame_asset', text: 'Gaming'},
        {icon: 'live_tv', text: 'Live'},
      ],
      links4: [
        {icon: 'settings', text: 'Settings'},
        {icon: 'flag', text: 'Report history'},
        {icon: 'help', text: 'Help'},
        {icon: 'feedback', text: 'Send feedback'},
      ],
      buttons1: [
        {text: 'About'},
        {text: 'Press'},
        {text: 'Copyright'},
        {text: 'Contact us'},
        {text: 'Creators'},
        {text: 'Advertise'},
        {text: 'Developers'},
      ],
      buttons2: [
        {text: 'Terms'},
        {text: 'Privacy'},
        {text: 'Policy & Safety'},
        {text: 'Test new features'},
      ],
    };
  },
  computed: {
    ...mapState('web3', ['connected', 'coinbase']),
  },

  created() {
    this.fabYoutube = fabYoutube;
  },
};
</script>

<style lang="sass">
.YL

  &__toolbar-input-container
    min-width: 100px
    width: 55%

  &__toolbar-input-btn
    border-radius: 0
    border-style: solid
    border-width: 1px 1px 1px 0
    border-color: rgba(0,0,0,.24)
    max-width: 60px
    width: 100%

  &__drawer-footer-link
    color: inherit
    text-decoration: none
    font-weight: 500
    font-size: .75rem

    &:hover
      color: #000
</style>
